################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VoterSearchApp
/VoterSearchApp/bin/Debug/net9.0
/VoterSearchApp/obj
/VoterSearchApp/wwwroot/uploads/*
/VoterSearchApp/wwwroot/data/voters.json
